<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div className="row">
    <div className="title-area text-center">
      <h2>Our Services</h2>
      <div className="separator separator-danger">✻</div>
      <p className="description">
        We promise you a new look and more importantly, a new attitude.
      </p>
    </div>
  </div>
  <div className="row">
    <div className="col-md-4">
      <div className="info-icon">
        <div className="icon text-danger">
          <i className="pe-7s-users"></i>
        </div>
        <h3>Hairstyles</h3>
        <p className="description">
          We offer a range of up to date and classy styles that turn heads!
        </p>
      </div>
    </div>
    <div className="col-md-4">
      <div className="info-icon">
        <div className="icon text-danger">
          <i className="pe-7s-note2"></i>
        </div>
        <h3>Book Appointments</h3>
        <p className="description">
          We allow you to book appointments straight from our site. Giving
          you a seamless booking experience.
        </p>
      </div>
    </div>
    <div className="col-md-4">
      <div className="info-icon">
        <div className="icon text-danger">
          <i className="pe-7s-monitor"></i>
        </div>
        <h3>Your Appointments</h3>
        <p className="description">
          You can view your Booking Details one our beautifully designed
          dashboard.
        </p>
      </div>
    </div>
  </div>
  <div className="section section-our-clients-freebie">
    <div className="container">
      <div className="title-area">
        <h5 className="subtitle text-gray">Here are some</h5>
        <h2>Clients Testimonials</h2>
        <div className="separator separator-danger">∎</div>
      </div>
      <ul className="nav nav-text" role="tablist">
        <li className="active">
          <a href="#testimonial1" role="tab" data-toggle="tab">
            <div className="image-clients">
              <img
                alt="..."
                className="img-circle"
                src="{% static 'img/faces/avatar1.jpg' %}"
              />
            </div>
          </a>
        </li>
        <li>
          <a href="#testimonial2" role="tab" data-toggle="tab">
            <div className="image-clients">
              <img
                alt="..."
                className="img-circle"
                src="{% static '/img/faces/avatar2.jpg' %}"
              />
            </div>
          </a>
        </li>
        <li>
          <a href="#testimonial3" role="tab" data-toggle="tab">
            <div className="image-clients">
              <img
                alt="..."
                className="img-circle"
                src="{% static '/img/faces/avatar3.jpg' %}"
              />
            </div>
          </a>
        </li>
      </ul>
      <div className="tab-content">
        <div className="tab-pane active" id="testimonial1">
          <h3>Mar</h3>
          <p className="description">
            Whenever I go out with my friends after visiting Noa, I always
            got complimented on my hair. It makes me feel on top of the
            world!
          </p>
        </div>
        <div className="tab-pane" id="testimonial2">
          <h3>Sofia</h3>
          <p className="description">
            Her customer service is amazing. Great conversations, Great
            music and energy and to top it off my braids are fantastic.
          </p>
        </div>
        <div className="tab-pane" id="testimonial3">
          <h3>Keisha</h3>
          <p className="description">
            My Insta followers must hate me because I practically plastered
            my face on my Stories simply to show off my hair. I'm obsessed!
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



 <!-- <section className="tab">
  <button className="tabBtn">
    <img src="" alt="" />
  </button>
  <button className="tabBtn">
    <img src="" alt="" />
  </button>
  <button className="tabBtn">
    <img src="" alt="" />
  </button>
</section>
<section className="tabContents">
  <section></section>
</section>   -->